// Disable Background in header

.header-background {
	display: none;
}

// No read button
.post-card-button {
	display: none !important;
}

// No diagonal navigation
#navigation::after{
	display: none !important;
}
