.font-light {
	font-weight: 100;
}

.font-semilight {
	font-weight: 300;
}

.font-normal {
	font-weight: 400;
}

.font-bold {
	font-weight: 500;
}

.font-heavy {
	font-weight: 700;
}

.font-ui-index-title {
	font-family: "Exo", sans-serif;
}

.font-ui-sans {
	font-family: "SpoqaHanSansJP", "아리따-돋움(TTF)", sans-serif;
}

.font-ui-base {
	font-family: "Roboto", "NanunmSquare", sans-serif;
}

.font-list-serif {
	font-family: "Noto Serif CJK KR", serif;
}

.font-list-sans {
	font-family: "Roboto", sans-serif;
}
