.post-template {
	background: #f9fafb;

	.post-full {
		max-width: 768px;
		margin: 0 auto;
		padding-top: 50px;

		&-title {
			font-size: 3.4rem;
			font-weight: 100;
		}

		&-content {
			font-size: 1.2rem;
			text-shadow: 1px 1px 0px rgba(0, 0, 0, .1);
		}
	}
}

.author-card {
	display: flex;
}
